@using EntityLayer.Concrete
@model List<About>


@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

@{ string color = ""; string val = "Make Passive";}
<br />
<h2>About Data List</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>About Title</th>
        <th>Status</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.AboutID</td>
    <td>@item.AboutDetails1</td>
    <td>
        @if (item.AboutStatus == false)
        {
            color = "btn btn-success";
            val = "Make Active";
        }
        else
        {
            color = "btn btn-danger";
            val = "Make Passive";
        }
        <a href="/About/DeleteAbout/@item.AboutID" class="@color">
            @val
        </a>
    </td>
    <td> <a href="/About/UpdateAbout/@item.AboutID" class="btn btn-warning">Düzenle</a></td>
</tr>}


</table>

@Html.Action("AboutPartial", "About")